
#social{
background-color: #F4D06F;
height: 25px;

}
/*#head{
	background-image: url("../images/Dali2.jpg"); 
	color: white;
	
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	
	font-family: 'Pacifico', cursive;
	

}*/
.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../images/Dali2.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  margin-top: 250px;
  
  
}

#title{
	font-family: 'Pacifico', cursive;
  font-size: 70pt;
}
#obras p{
	font-family: 'Pacifico', cursive;
  font-size: 60pt;
  color: white;
}
#obras{
	background-color: #234B92;
}
#menu{
	background-color: #E54B4B;
	
}

#bio{
	background-color: #234B92;
	color: white;
	padding-top: 50px;
	font-family: 'Mukta Malar', sans-serif;
     
}

.card-info {
  background: #fefefe;
  border: 1px solid #8a8a8a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  overflow: hidden;
  border-radius: 0;
}

#word{
	background-color: #F4D06F;
}
#word h3{
	font-family: 'Pacifico', cursive;
  font-size: 60pt;
  color: white;
}
#word p{
	font-size: 15pt;
}
.card-info .card-info-label {
	
  border-color: transparent #8a8a8a transparent transparent;
  border-color: rgba(255, 255, 255, 0) #8a8a8a rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 500px){
	#head{
	background-size: cover;
	
	height: 309px;
}


